.shop-cart {
    // position: fixed;
    // top: 0;
    // right: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100vh;
    transition: 0.15s;
    // background-color: rgba(0, 0, 0, 0.69);

    z-index: 5;
    // display: none;

    div {
        .cart-item-wrapper {
            display: flex;
            justify-content: center;
    
            margin-top: 35px;
            
            .cart-item {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-basis: 80%;
    
                position: relative;
    
                padding: 20px;
        
                box-shadow: 0 0 2px #000;
            }
            .remove-item {
                position: absolute;
                top: -5px;
                right: 10px;
    
                font-size: 26px;
            }
        }
    }
    
    .confirm-order-wrapper {
        position: absolute;
        bottom: 0;
        right: 0;
        // flex-basis: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;

        .confirm-order {
            display: flex;
            justify-content: space-around;
            flex-basis: 100%;
            .confirm-order-block {
                position: relative;
                display: flex;
                align-items: center;
                box-shadow: 0 0 2px #000;
                padding: 15px;
                
                flex-basis: 250px;
                &:hover {
                    button {

                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        // flex-basis: 100%;
                        margin: 0;
                        border-radius: 0;
                    }
                }
                .shop-cart-totalPrice {
                    color: red;
                    font-size: 28px;
                }
                
                button {
                    margin-left: 20px;
                    
                    transition: 0.3s;
                   
                }
                // &:hover {
                //     background-color: #00a046;
                //     border-radius: 10px;
                // }
            }
            button {
                background-color:  #6ac08f;
                color: rgba(255, 255, 255, 0.85)
            }
        }
    }
    
}

.close {
    height: 0vh;
    transition: 0.3s;
    .cart-item-wrapper {
        display: none;
    }
    .confirm-order-wrapper {
        display: none;
    }
    .clear {
        display: none;
    }
}

@keyframes itemCartAnimation {
    0% {

    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
        
    }
}
