.profile {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 15%;
    background-color: rgba(40, 40, 40, 0.8);

    z-index: 5;
    .profile-auth-user {
        padding-bottom: 15px;
        border-bottom: 1px solid gray;
        margin-bottom: 30px;
    }
    .open-cart-btn {
        position: relative;
        
        div {
            position: absolute;
            top: 0;
            right: 5px;
        }
    }
    a {
        text-decoration: none;
        
    }
    button {
        width: 100%;
        border: 3px solid #3f51b5;
        margin-bottom: 15px;
        color: rgba(255, 255, 255, 0.9)
    }
}