.form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-signIn {
        .form-fignIn-input-email,
        .form-fignIn-input-password {
            display: flex;
            flex-direction: column;
            label {
                font-size: 18px;
                color: rgba(255 ,255, 255, 0.9);
                font-weight: 700;
            }
            input {
                width: 400px;
                height: 40px;
                font-size: 22px;
                font-weight: 500;
                outline: none;
                // border: 3px solid #3f51b5;
            }
        }
        .form-fignIn-input-email {
            margin-bottom: 15px;
            
            
        }
        .form-fignIn-input-password {
            
     
        }
        button {
            width: 100%;
       
            margin-top: 15px;

            transition: 0.3s;
            &:hover {
                background-color: #3f51b5;
            }
        }
    }
    .form-signUp {
        .form-fignUp-input-name,
        .form-fignUp-input-email,
        .form-fignUp-input-password {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            label {
                font-size: 18px;
                color: rgba(255 ,255, 255, 0.9);
                font-weight: 700;
            }
            input {
                width: 400px;
                height: 40px;
                font-size: 22px;
                font-weight: 500;
                outline: none;
                // border: 3px solid #3f51b5;
            }
        }
        button {
            width: 100%;
            // border: 3px solid #3f51b5;
    
            // color:rgba(255 ,255, 255, 0.9);
            margin-top: 15px;

            transition: 0.3s;
            // &:hover {
            //     background-color: #3f51b5;
            // }
        }
    }
}