.order-page {
    padding-top: 50px;
    .order-page-items {

        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s;
        // background-color: #01d15b;
        // border: 2px solid #00a046;
        margin: 0 100px 30px 100px;
        border: 0.5px solid rgb(241, 239, 239);
        padding: 10px;
        &:hover {
            border-radius: 5px;
            box-shadow: 0 0 1px #000;
        }

        .order-item-header {
            position: relative;

            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px;

            &::before {
                content: '';
                position: absolute;
                top: 10%;
                left: 5px;
    
                height: 80%;
                width: 6px;

                border-radius: 10px;
    
                background-color: green;
    
                z-index: 5;
            }
            .order-header-status {
                flex-basis: 30%;
                margin-left: 15px;
            }
            .order-header-total {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-basis: 30%;
                
                color: #000;
                span {

                }
                div {
                    font-weight: 700;
                }
            }
            .item-header-img {
                img {
                    width: 75px;
                    height: 75px;
                }
            }
            .order-header-content {
                display: flex;
                justify-content: flex-end;
                flex-basis: 40%;
                .item-header {
                    .item-header-status {
                        div {
                            color: #fff;
                        }
                    }
                    .item-header-total {
                        span {

                        }
                        div {

                        }
                    }
                    .item-header-img {
                        
                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }
        .order-item-body {
            display: flex;
            justify-content: space-between;

            width: 100%;
            padding: 10px;
            display: none;
            background-color: rgba(255, 255, 255, 0.9);
            .order-body-status {

            }
            .order-body-price {
                
            }
            .item-body-img {
                img {
                    width: 75px;
                    height: 75px;
                }
            }
            .order-body-content {
                display: flex;
                flex-direction: column;
                width: 100%;
                .item-body {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .item-body-title {

                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }
                    .item-body-price {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        span {

                        }
                        div {
                            font-weight: 700;
                        }
                    }
                    .item-body-count {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        span {

                        }
                        div {
                            font-weight: 700;
                        }
                    } 
                }
            }
        }
        .open-body {
            display: block;
        }
       
    }
}