.cards-list-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    .filter-cards-block {
        margin: 10px 0;
        button {
            border: 3px solid rgb(255, 34, 34);
            color: rgba(255, 255, 255, 0.8);
            margin-right: 10px;
        }
    } 
    input {
        background-color: rgb(75, 74, 74);
        color: rgba(255, 255, 255, 0.8);
        border: none;
        outline: none;
        height: 40px;
        padding-left: 10px;
        font-size: 20px;
    }
    .cards-lists {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-basis: 25%;
        .card-item {
            display: flex;
            flex-direction: column;
            span {
    
            }
            img {
                width: 150px;
                height: 150px;
            }
            button {
                border: 3px solid #3f51b5;
            }
        }

    }
}