.profile {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 15%;
    box-shadow: 1px 0 10px #000;

    z-index: 5;
    .profile-auth-user {
        padding-bottom: 15px;
        border-bottom: 1px solid gray;
        margin-bottom: 30px;
    }
    .open-cart-btn {
        position: relative;
        
        div {
            position: absolute;
            top: 0;
            right: 5px;
        }
    }
    a {
        text-decoration: none;
        
    }
    button {
        width: 100%;
        // border: 3px solid #3f51b5;
        border-top: 3px solid #3f51b5;
        border-bottom: 3px solid #3f51b5;
        border-radius: 0;
        margin-bottom: 10px;
        color: #000;
        
    }
}